li {

  list-style:none
}

a:link, a:visited,  a:hover, a:active
{
  color: #f5f4ee;
  text-decoration: none;
}
button {
  padding: 10px;
  margin-left: 20px;
  background-color: #345ba0;
  color: #f5f4ee;
}

.home-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  width: 100%;

}

.card-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 4px;
  padding: 10px;
}

.card-block {
  background-color: #f5f4ee;
  height: 90%;
  max-height: 200px;
  width: 90%;
  border-radius: 10px;
  padding: 15px;
  background-color: #f5f4ee;
  box-shadow: 10px 10px 4px #111;
  border: 3px solid #545455;
  margin-bottom: 20px !important;
  transition: .5s;
  text-align: center;


}


.card-title {
  margin-bottom: 10px;
  font-size: x-large;
  text-transform: capitalize;
  text-shadow: 10px 10px 400px rgba(0, 0, 0, 0.7);
}

.card-text {
  margin-bottom: 10px;

  text-transform: capitalize;
  text-shadow: 10px 10px 400px rgba(0, 0, 0, 0.7);
}

.Link {
  text-decoration: none;
  color: black;
}

